/* global styles */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
}
/* !global styles */

/* header */
.headerWrap {
    width: 100%;
    height: 225px;
    border-bottom: 2px solid black;
    background-color: #555;
    display: flex;
    justify-content: space-between;
}

.headerWrap img {
    height: 225px;
    object-fit: contain;
}

.headFlag {
    width: 100%;
    height: 150px;
    border-bottom-left-radius: 35px;
    background-color: blueviolet;
    box-shadow: -8px 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.wipeText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    animation: textgrow 6s forwards;
    overflow: hidden;
}

.wipeText h1 {
    color: white;
    font-size: 4.5rem;
    line-height: 25px;
    margin-top: 15px;
}

.wipeText h3 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 15px;
}

@keyframes textgrow {
    0%{
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        width: 1px;
        height: 1px;
    }
    50% {
        width: 100%;
        height: 1px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    99% {
        height: 150px;
        width: 100%;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    100% {
        height: 150px;
        width: 100%;
        border-top: none;
        border-bottom: none;
    }
}

.flagAreaWrap {
    width: 80%;
    display: flex;
    flex-direction: column;
}
/* !header */
.menuWrap {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
}

.menuWrap ul {
    display: flex;
    list-style-type: none;
}

.menuWrap ul li {
    margin-right: 20px;
    font-size: 3rem;
    color: white;
}

.menuWrap ul li a {
    text-decoration: none;
    color: white;
}
/* nav */

/* !nav */

/* home */
    .homeContWrap {
        display: flex;
        position: relative;
        top: 0;
        border-bottom: 2px solid black;
    }

    .eventMenu {
        width: 15%;
        border-right: 2px solid black;
        position: relative;
        top: 0;
    }

    .newsWrap {
        width: 70%;
    }

    .articleMenu {
        width: 15%;
        border-left: 2px solid black;
    }

    .titleBlock {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid black;
        background-color: blanchedalmond;
    }

    .titleBlock h4 {
        font-size: 2.4rem;
        padding: 15px 0;
    }

    .newsWrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }
/* !home */

/* home news blocks */
    .newsCard {
        width: 65%;
        margin-top: 15px;
        padding: 25px;
        background-color: lightblue;
        border: 2px solid darkgrey;
        border-radius: 15px;
        box-shadow: -8px 8px 16px;
    }

    .newsTop {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .newsTop h6 {
        font-size: 1.6rem;
        padding: 10px;
    }

    .newsTitle h2 {
        font-size: 2.4rem;
        padding: 10px;
    }

    .newsCont h1 {
        font-size: 2.8rem;
        padding: 10px;
    }

    .newsCont p {
        font-size: 1.2rem;
        padding: 0 10px;
    }

    .newsCont li {
        font-size: 1.2rem;
        font-weight: bold;
        padding: 0 10px;
    }
/* !home news blocks */

/* event bar */

/* !event bar */

/* article menu */

/* !article menu */

/* tasks page */
.taskCardArea {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.taskCard{
    width: 360px;
    margin: 15px;
}

.taskTop{
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.taskTop h2{
    font-size: 2.2rem;
    padding: 10px 0;
    text-transform: uppercase;
}

.taskBody {
    width: 100%;
    padding: 15px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.taskBody p{
    font-size: 1.4rem;
}

.taskPname {
    width: 100%;
    text-align: center;
    border: 1px solid black;
    padding: 15px;
}

.taskPname p{
    font-size: 1.6rem;
}

.taskPointBlock{
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pb1{
    width: 33.3%;
    text-align: center;
    padding: 10px;
}

.pb1 p{
    font-size: 1.3rem;
}

.pb2{
    width: 33.3%;
    text-align: center;
    padding: 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.pb2 p{
    font-size: 1.3rem;
}

.pb3{
    width: 33.3%;
    text-align: center;
    padding: 10px;
}

.pb3 p{
    font-size: 1.3rem;
}
/* !tasks page */

/* zones */

.zone {
    border-radius: 90%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.zone p {
    font-size: 1.6rem;
}

.board {
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
}

.t1 {
    width: 200px;
    height: 200px;
    background-color: rgb(243, 114, 234);
}

.t2 {
    width: 300px;
    height: 300px;
    background-color: rgb(243, 114, 234);
}

.t3 {
    width: 400px;
    height: 400px;
    background-color: rgb(243, 114, 234);
    overflow: hidden;
}

.t4 {
    width: 500px;
    height: 500px;
    background-color: rgb(243, 114, 234);
    overflow: hidden;
}

.t5 {
    width: 600px;
    height: 600px;
    background-color: rgb(243, 114, 234);
    overflow: hidden;
}

.t6 {
    width: 700px;
    height: 700px;
    background-color: lightblue;
    overflow: hidden;
}

.t7 {
    width: 800px;
    height: 800px;
    background-color: lightblue;
    overflow: hidden;
}

.t8 {
    width: 900px;
    height: 900px;
    background-color: lightblue;
    overflow: hidden;
}

.t9 {
    width: 1000px;
    height: 1000px;
    background-color: lightblue;
    overflow: hidden;
}

.t10 {
    width: 1100px;
    height: 1100px;
    background-color: lightblue;
    overflow: hidden;
}

.t11 {
    width: 1200px;
    height: 1200px;
    background-color: yellowgreen;
    overflow: hidden;
}

.t12 {
    width: 1300px;
    height: 1300px;
    background-color: yellowgreen;
    overflow: hidden;
}

.t13 {
    width: 1400px;
    height: 1400px;
    margin-top: 35px;
    background-color: yellowgreen;
    overflow: hidden;
}

/* !zones */

/* footer */
.footerWrap {
    width: 100%;
    min-height: 150px;
    background-color: black;
}
/* !footer */