/* global styles */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
}
/* !global styles */

/* header */
.headerWrap {
    width: 100%;
    height: 225px;
    border-bottom: 2px solid black;
    background-color: #555;
    display: flex;
    justify-content: space-between;
}

.headerWrap img {
    height: 225px;
    object-fit: contain;
}

.headFlag {
    width: 80%;
    height: 150px;
    border-bottom-left-radius: 35px;
    background-color: blueviolet;
    box-shadow: -8px 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.wipeText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    animation: textgrow 6s forwards;
    overflow: hidden;
}

.wipeText h1 {
    color: white;
    font-size: 4.5rem;
    line-height: 25px;
    margin-top: 15px;
}

.wipeText h3 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 15px;
}

@keyframes textgrow {
    0%{
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        width: 1px;
        height: 1px;
    }
    50% {
        width: 100%;
        height: 1px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    99% {
        height: 150px;
        width: 100%;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    100% {
        height: 150px;
        width: 100%;
        border-top: none;
        border-bottom: none;
    }
}
/* !header */

/* nav */

/* !nav */

/* home */
    .homeContWrap {
        display: flex;
        position: relative;
        top: 0;
    }

    .eventMenu {
        width: 15%;
        border-right: 2px solid black;
        position: relative;
        top: 0;
    }

    .newsWrap {
        width: 70%;
    }

    .articleMenu {
        width: 15%;
        border-left: 2px solid black;
    }

    .titleBlock {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid black;
        background-color: blanchedalmond;
    }

    .titleBlock h4 {
        font-size: 2.4rem;
        padding: 15px 0;
    }

    .newsWrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
/* !home */

/* home news blocks */
    .newsCard {
        width: 65%;
    }
/* !home news blocks */

/* event bar */

/* !event bar */

/* article menu */

/* !article menu */

/* footer */

/* !footer */